<link rel="stylesheet" type="text/css" href="style.css"> {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

header {
  background: url("https://c1.staticflickr.com/9/8647/28896972030_ce14e74180_b.jpg");
  background-position: right;
  background-color: black;
}

aside {
  background-color: black;
}

section {
  background-color: black;
}

footer {
  color: #f3f3f3;
  font-family: 'Work Sans', sans-serif;
  background-color: black;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: #B1571A;
  font-size: 300%
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: #B1571A;
}

p {
  font-family: 'Work Sans', sans-serif;
  color: #f3f3f3;
  background-color: black;
}

img {
  border: 1px solid #f3f3f3;
  height: auto;
  width: auto;
}

form {
  margin: 2em 2em;
}

li {
  border-right: 1px solid #B1571A;
  background-color: black;
}

li a {
  text-decoration: none;
  color: #666;
  background-color: black;
}

li a:hover {
  background-color: #B1571A;
  color: white;
}

.article {
  border: 1px solid #e7e7e7;
  background-color: black;
}

.header {
  font-family: 'Permanent Marker', cursive;
  color: #B1571A;
  position: fixed;
  padding-top: 2em;
  padding-bottom;
  2em;
  background-color: black;
}

.active {
  background-color: #B1571A;
  color: white;
}

.parent {
  border: 5px solid #f3f3f3;
}

a:hover {
  color: #B1571A;
}


/*@media only screen (max-height: 1000px;*/

)
